In [15]:
import sqlite3

In [16]:
conn = sqlite3.connect('test.db')

print("Opened database successfully")
conn.execute('''CREATE TABLE TASKS
         (ID INT PRIMARY KEY     NOT NULL,
         Task           CHAR(100)    NOT NULL,
         Due_By        datetime         NOT NULL,
         Status        CHAR(50) );''')
conn.close

Opened database successfully

OperationalError: table TASKS already exists

In [17]:
conn = sqlite3.connect('test.db')
# print "Opened database successfully";

conn.execute("INSERT INTO TASKS (ID,Task,Due_By,Status) \
      VALUES (1, 'Order food from swiggy', '2019-05-20', 'Not Started')");

conn.execute("INSERT INTO TASKS (ID,Task,Due_By,Status) \
      VALUES (2, 'Buy Grocery from BigBasket', '2019-05-25', 'Not Started')");

conn.execute("INSERT INTO TASKS (ID,Task,Due_By,Status) \
      VALUES (3, 'Buy Books', '2019-05-24', 'Finished')");




conn.commit()
# print "Records created successfully";
conn.close()

In [18]:
conn = sqlite3.connect('test.db')
cursor = conn.execute("SELECT id, Task, Due_By, Status from Tasks")
print(cursor)
ID=1
for row in cursor:
    ID=row[0]
    print("ID = ", row[0])
    print("NAME = ", row[1])
    print("ADDRESS = ", row[2])
    print("SALARY = ", row[3])
conn.close()

<sqlite3.Cursor object at 0x0000024AD5BAEA40>
ID =  1
NAME =  Order food from swiggy
ADDRESS =  20-5-2019
SALARY =  Not Started
ID =  2
NAME =  Buy Grocery from BigBasket
ADDRESS =  25-5-2019
SALARY =  Not Started
ID =  3
NAME =  Buy Books
ADDRESS =  24-5-2019
SALARY =  Finished

In [13]:
conn=sqlite3.connect('test.db')
conn.execute("drop TABLE Tasks")
conn.close()

In [19]:
conn = sqlite3.connect('test.db')
query="select ID from TASKS ORDER BY id DESC LIMIT 1;"
cur=conn.cursor()
id=cur.execute(query).fetchall()
id[0][0]

3