In [75]:
import sqlite3

In [76]:
conn = sqlite3.connect('test.db')

print("Opened database successfully")
conn.execute('''CREATE TABLE TASKS
         (ID INT PRIMARY KEY     NOT NULL,
         Task           CHAR(100)    NOT NULL,
         Due_By        datetime         NOT NULL,
         Status        CHAR(50) );''')
conn.close

Opened database successfully

In [77]:
conn = sqlite3.connect('test.db')
# print "Opened database successfully";

conn.execute("INSERT INTO TASKS (ID,Task,Due_By,Status) \
      VALUES (1, 'Order food from swiggy', '20-5-2019', 'Not Started')");

conn.execute("INSERT INTO TASKS (ID,Task,Due_By,Status) \
      VALUES (2, 'Buy Grocery from BigBasket', '25-5-2019', 'Not Started')");

conn.commit()
# print "Records created successfully";
conn.close()

In [78]:
conn = sqlite3.connect('test.db')
cursor = conn.execute("SELECT id, Task, Due_By, Status from Tasks")
print(cursor)
ID=1
for row in cursor:
    ID=row[0]
    print("ID = ", row[0])
    print("NAME = ", row[1])
    print("ADDRESS = ", row[2])
    print("SALARY = ", row[3])
conn.close()

<sqlite3.Cursor object at 0x0000025C831DD960>
ID =  1
NAME =  Order food from swiggy
ADDRESS =  20-5-2019
SALARY =  Not Started
ID =  2
NAME =  Buy Grocery from BigBasket
ADDRESS =  25-5-2019
SALARY =  Not Started

In [74]:
# conn=sqlite3.connect('test.db')
# conn.execute("drop TABLE Tasks")
# conn.close()